
<div ng-controller="HomeController">
	<h4><i>Experienced, dedicated, professional</i></h4>
	<h2 class="mainTitle">Senior Financial Analyst / Financial Management Professional</h2>
<hr>	
	<section>
		<div class="nav nav-pills nav-stacked">
		  <section ng-repeat="stuff in meanStuff">
		  	
		  	<h3>{{stuff.title}}</h3>
		  	<p class="col-lg-12">{{stuff.desc1}}</p>
		  	<p class="col-lg-12">{{stuff.desc2}}</p>
		  	<p class="col-lg-12">{{stuff.desc3}}</p>
		  </section>
		<div>
	</section>

	<section>
		<div>
			<section>
				<h3>Professional Experience</h3>
				
				<h3>Independent Consulting</h3><br>

				<div class="col-lg-12">
					<table class="table">  <!-- technicalCompetenciesTable -->
						<tr ng-repeat="stuff in experienceStuff">
							<td><b>{{stuff.workname}}</b>:</td>
							<td>{{stuff.workdates}}</td>
							<td>{{stuff.worktype}}</td>
						</tr>
					</table>
				</div>

				<!-- <div class="row MainCompanyExperience" ng-repeat="stuff in experienceStuff">
					<p class="col-md-3 workName">{{stuff.workname}}</p>
					<p class="col-md-2 workDates">{{stuff.workdates}}</p>
					<p class="col-md-6 workType">{{stuff.worktype}}</p>
					
				</div> -->

				
				<h3>Corporate Finance</h3><br>

				<div class="col-lg-12 col-xs-11">
					<table class="table">  <!-- technicalCompetenciesTable -->
						<tr ng-repeat="stuff in corporateStuff">
							<td><b>{{stuff.workname}}</b>:</td>
							<td>{{stuff.workdates}}</td>
							<td>{{stuff.worktitle}}, {{stuff.workdept}}</td>
							<!-- <td>{{stuff.workdept}}</td> -->
							<!-- <td>{{stuff.workdesc}}</td> -->
						</tr>
					</table>
				</div>



			<!-- 	<div class="row MainCompanyExperience" ng-repeat="stuff in corporateStuff">
					<p class="col-lg-3 workName">{{stuff.workname}}</p>
					<p class="col-lg-2 workDates">{{stuff.workdates}}</p>
					<p class="col-lg-3 workType">{{stuff.worktitle}}</p>
					<p class="col-lg-4 workType">{{stuff.workdept}}</p>
					<p class="col-lg-12 workDescription">{{stuff.workdesc}}</p>
				</div> -->


			</section>
		</div>
	</section>
<br>
<hr>
	<section>
		
		<h3>Technical competencies</h3>
		<div class="col-lg-12">
			<table class="table">  <!-- technicalCompetenciesTable -->
				<tr ng-repeat="stuff in technicalStuff">
					<td><b>{{stuff.category}}</b>:</td>
					<td>{{stuff.skill}}</td>
				</tr>
			</table>
		</div>
	</section>

<hr>
	<section>
		<h3>Education</h3>
		<div class="row " ng-repeat="stuff in educationStuff">  <!-- MainCompanyExperience -->
			
			<p class="col-lg-4 workName">{{stuff.name}}</p>
			<p class="col-lg-2 workDates">{{stuff.timeframe}}</p>
			<p class="col-lg-6 workType"><small>{{stuff.desc1}}</small></p>
			<div class="col-lg-12 workDescription">
				<ul style="list-style: none;">
					<li><i>{{stuff.desc2}}</i></li>
					<li><i>{{stuff.desc3}}</i></li>
				</ul>
			</div>
		</div>
	</section>
<hr>

	<section>
		<h3>Ongoing professional education</h3>
		<div class="row MainCompanyExperience">
			<p class="col-lg-12 workDescription"></p>
			<!-- -->
			<p class="col-lg-4 workName">Codeschool.com</p>
			<p class="col-lg-2 workDates">2014-Present</p>
			<p class="col-lg-6 workType"><small>Javascript, Angular.js, Node.js, Google API's</small></p>
			<p class="col-lg-12 workDescription"> </p>
			<!-- -->
			<p class="col-lg-4 workName">Egghead.io</p>
			<p class="col-lg-2 workDates">2014-Present</p>
			<p class="col-lg-6 workType"><small>Angular.js, Node.js, D3.js</small></p>
			<p class="col-lg-12 workDescription"> </p>

			<!-- -->
			<p class="col-lg-4 workName">Harvard Extension School CS-70</p>
			<p class="col-lg-2 workDates">2012</p>
			<p class="col-lg-6 workType"><small>Building Dynamic Websites</small></p>
			<p class="col-lg-12 workDescription">Profession David Mylan's class on technology and development of web applications.</p>
		</div>
	</section>
<hr>
	<section ng-repeat="stuff in extracurricularStuff">
		
		<h3>{{stuff.title}}</h3>
		<p class="col-lg-12 workDescription">{{stuff.desc}}</p>
	</section>
<hr>
	<section>
		<br>
		
		<h3>References available upon request</h3>
	</section>
	<section>
		<br>
		
		<h3><a href="tel:+14124478555">(412)447-8555</a></h3>
	</section>
</div>

<!-- 
	performance profile/career summary
	core competencies
	technical competencies
	professional experience
	education
	licenses/professional accredidations
	ongoing professional education
	professional organizations/affiliations
	publications/patents/speaking languages
	military service
	extracurricular interests
	references available on request
	-->