<div>
    <ui-view>

<h4><i>Dedicated, enthusiastic, ambitious</i></h4>
<h2 class="mainTitle">Web Designer / Application Developer / Graphic Designer</h2>

<br>

<h3>Portfolio</h3>
<h4>of</h4>
<h3>Websites and web-based applications</h3>


<section id="portfolio" ng-controller="ModalDemoCtrl">
        <div class="row">
            <div class="row">

            <!-- ITEM 1 -->
            	<div class="col-lg-4 portfolio-item" ng-click="open()">
                    <div class="portfolio-link">
                        <img src="modules/core/img/portfolio/screenshot-alberts.png" class="img-responsive" alt="" />
                        <a href="http://www.albertslounge.com"target="_blank"><i class="fa fa-external-link"><small>www.albertslounge.com</small></i></a>
                    </div>
                </div>

            <!-- ITEM 2 -->
                <div class="col-lg-4 portfolio-item" ng-click="open()">
                    <div class="portfolio-link">
                        <img src="modules/core/img/portfolio/screenshot-eee.png" class="img-responsive" alt="" />
                        <a href="http://www.eastendeatz.com"target="_blank"><i class="fa fa-external-link"><small>www.EastEndEatz.com</small></i></a>
                    </div>
                </div>

            <!-- ITEM 3 -->
                <div class="col-lg-4 portfolio-item" ng-click="open()">
                    <div class="portfolio-link">
                        <img src="modules/core/img/portfolio/screenshot-cmc.png" class="img-responsive" alt="" />
                        <a href="http://www.creativemonsterconsulting.com"target="_blank"><i class="fa fa-external-link"><small>www.CreativeMonsterConsulting.com</small></i></a>
                    </div>
                </div>

            <!-- ITEM 4 -->
                <div class="col-lg-4 portfolio-item" ng-click="open()">
                    <div class="portfolio-link">
                        <img src="modules/core/img/portfolio/screenshot-cyahomepage.png" class="img-responsive" alt="" />
                        <a href="http://www.catholicyouthassociation.com"target="_blank"><i class="fa fa-external-link"><small>www.CatholicYouthAssociation.com</small></i></a>
                    </div>
                </div>

             <!-- ITEM 5 -->
                <div class="col-lg-4 portfolio-item" ng-click="open()">
                    <div class="portfolio-link">
                        <img src="modules/core/img/portfolio/screenshot-gass.png" class="img-responsive" alt="" />
                        <a href="http://www.gasshockey.com"target="_blank"><i class="fa fa-external-link"><small>www.gasshockey.com</small></i></a>
                    </div>
                </div>

            <!-- ITEM 6 -->
                <div class="col-lg-4 portfolio-item" ng-click="open()">
                    <div class="portfolio-link">
                        <img src="modules/core/img/portfolio/screenshot-ua.png" class="img-responsive" alt="" />
                        <a href="http://www.upstairsaudio.com"target="_blank"><i class="fa fa-external-link"><small>www.upstairsaudio.com</small></i></a>
                    </div>
                </div>


            </div>
        </div>
        <h1>Under Construction!</h1>
        <h6><i>Please check back later</i></h6>
</section>

    </ui-view>
</div>