<h4><i>Dedicated, enthusiastic, ambitious</i></h4>
<h2 class="mainTitle">Web Designer / Application Developer / Graphic Designer</h2>

<h3>Portfolio</h3>
<h4>of 
<br>Websites and web-based applications</h4>


<section id="portfolio" ng-controller="ModalDemoCtrl">
        <div class="row">
            <div class="row">
            	<div class="col-lg-4 portfolio-item" ng-click="open()">
                    <a href="http://www.albertslounge.com" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-external-link fa-3x"></i>
                            </div>
                        </div>
                        <img src="modules/core/img/portfolio/screenshot-alberts.png" class="img-responsive" alt="" />
                    </a>
                </div>

                <div class="col-lg-4 portfolio-item">
                    <a href="http://www.eastendeatz.com" target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-external-link fa-3x"></i>
                            </div>
                        </div>
                        <img src="modules/core/img/portfolio/screenshot-eee.png" class="img-responsive" alt="" />
                    </a>
                </div>

                <div class="col-lg-4 portfolio-item">
                    <a href="http://www.creativemonsterconsulting.com"  target="_blank" class="portfolio-link">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-external-link fa-3x"></i>
                            </div>
                        </div>
                        <img src="modules/core/img/portfolio/screenshot-cmc.png" class="img-responsive" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <h1>Under Construction!</h1>
        <h6><i>Please check back later</i></h6>
</section>