<div class="">
	<ui-view>


		<h3><i>Experienced athlete and passionate coach</i></h3>
		<h2 class="mainTitle">Hockey Skill Instruction</h2>
		<p>15+ years of on-ice coaching experience, specializing in ice-hockey goalie instruction for all ages and abilities.<br><br>
		 Attentive to technical detail, increasing speed, and the conscientious ‘reading and evaluating’ of continuous game scenarios and strategies.  Additional experience as Associate Coach at Midget AAA Level.  Adept at video editing and analysis breakdown, off-ice agility and conditioning programs.  Promotor of positive energy, desire to succeed, and continuous motivation to improve.</p>
	<hr>
		<h3>Affiliations</h3>
		<h4>Hockey Coach</h4>
		<div class="row">
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Independent Goalie Instruction (Castle Shannon, PA)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2011-Present</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Pittsburgh Penguins Elite AAA U18</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2011-Present</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Penguins Select AAA - Mite, Atom, Squirt</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Spring 2014</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">G.A.S.S. Hockey (Castle Shannon, PA)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2012-Present</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Shane Clifford Hockey Schools (Pittsburgh, PA)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1998-Present</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">The Next Level (Warrendale, PA)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2000-2005</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">AAA Goaltending (Orange County, CA)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2001-2004</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Rick Heinz Goalie Schools (Harmarville/Bethel Park, PA)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1997-1998</p>
		</div>

		<h4>Hockey Player</h4>
		<div class="row">
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Orlando Solar Bears of East Coast Hockey League</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">4-2014</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Portland Pirates of American Hockey League</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">4-2007</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Northeastern University (NCAA D-1) of Hockey East</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2002-2006</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Pittsburgh Forge of NAHL (Jr.A)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2001-2002</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">St. Louis Sting of NAHL (Jr.A)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2001</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Capital Centre Pride of NAHL (Jr.A)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">2000</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Grand Rapids Bearcats of NAHL (Jr.A)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1999-2000</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Pittsburgh Hornets AAA of MNHL</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1996-1999</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">USA Hockey Select 15, 16, 17 Mid-American Fesitval Team</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1996-1998</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Top Prospects Toronto - Mid-American Team</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1996-1998</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Keystone State Games - Western PA District Team</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1996-1997</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Pittsburgh Amateur Penguins AAA of EWHL</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1995-1996</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Eastern Tigers A of PAHL</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1994-1995</p>
			<!-- -->
			<p class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></p>
			<p class="col-xs-7 col-sm-7 col-md-7 col-lg-6">Fox Chapel Foxes (Interscholastic - PIHL)</p>
			<p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">1990-1997</p>
		</div>
	<hr>
		<h4>Hockey Acheivements &amp; Recognition</h4>
		<p class="col-lg-12">
			<table class="hockeyAwardsTable">
				<tr><td><b>College/Pro</b>:</td>
					<td>4-yr Scholarship,</td>
					<td>Hockey-East All-Academic Team,</td>
					<td>RPI Tournament Champion,</td>
					<td>Beanpot Finalist</td>
				</tr>
				<tr><td><b>Junior A</b>:</td>
					<td>NAHL Top Prospect,</td>
					<td>2nd-Team All-League,</td>
					<td>Gold Cup Finalist,</td>
					<td>Pittsburgh Forge MVP,</td>
					<td>NAHL 3x Goalie of the Month</td>
				</tr>
				<tr><td><b>Midget AAA &amp; prior</b>:</td>
					<td>International Silver Stick Champion,</td>
					<td>Iroquois Falls International Hockey Tournament Champion,</td>
					<td>Drummondville International Hockey Tournament semi-finalist,</td>
					<td>Chicago Freeze-Out Tournament Champion,</td>
					<td>Sioux Saint Marie International Tournament Semi-finalist,</td>
					<td>Keystone State Games Tournament 2x Champion,</td>
					<td>Pittsburgh Hornets 2x Team MVP,</td>
					<td>Pittsburgh Amateur Penguins Team MVP</td>
				</tr>
			</table>
		</p>
	<hr>
		<h4>Squash Racquets Acheivements &amp; Recognition</h4>
		<p class="col-lg-12">
			<table class="hockeyAwardsTable">
				<tr><td><b>Hardball Doubles:</b></td>
					<td>2014 Grum Cum Champion,</td>
					<td>2014 TPGC Club Doubles Champion (David Edwards and Tim Heneroty),</td>
					<td>2014 Left-Coast Tournament participant</td>
					<td>2012 Grum Cum Finalist,</td>
					<td>2011 Grum Cum Semi-finalist</td>
				</tr>
				<tr><td><b>Softball Singles<b></td>
					<td>2014 TPGC Club Championship Runner-Up,</td>
					<td>2012 San Francisco Open 5.5 Champion,</td>
					<td>2012 Meeho! Great Lakes Open 5.5 Champion (Chicago),</td>
					<td>College Squash Association Schafee Divsision Champion (Northeastern University),</td>
					<td>College Squash Top 100 Player Ranking</td>
				</tr>
			</table>
		</p>
	<hr>
		<h4>Old Press + Links</h4>
		<div class="row">
			<p class="col-lg-3"><a href="http://dropyourgloves.com/Players/Player.aspx?P=74118" target="_blank">Drop Your Gloves stats</a></p>
			<p class="col-lg-3"><a href="http://www.eliteprospects.com/player.php?player=155235" target="_blank">Elite Prospects profile</a></p>
			<p class="col-lg-3"><a href="http://www.hockeydb.com/ihdb/stats/pdisplay.php?pid=72111" target="_blank">HockeyDB profile (not up-to-date)</a></p>
			<p class="col-lg-3"><a href="http://www.uscho.com/stats/player/mid,7451/tim-heneroty/#20022003" target="_blank">USCHO stats</a></p>
			<p class="col-lg-3"><a href="http://www.nhl.com/ice/player.htm?id=8473929" target="_blank">NHL profile</a></p>
			<p class="col-lg-3"><a href="http://theahl.com/stats/player.php?id=1774" target="_blank">AHL profile</a></p>
			<p class="col-lg-3"><a href="http://echl.com/stats/player.php?id=5294" target="_blank">ECHL profile</a></p>
			<p class="col-lg-3"><a href="http://old.post-gazette.com/penguins/20011207forge1206p9.asp" target="_blank">Post-Gazette news 2001</a></p>
			<p class="col-lg-3"><a href="http://triblive.com/x/valleynewsdispatch/sports/s_17000.html#axzz38K7xt0pt" target="_blank">Trib-Live news 2002</a></p>
			<p class="col-lg-3"><a href="http://nahl.com/awards/yearly-awards/awards0102.cfm" target="_blank">NAHL awards</a></p>
		</div>


	</ui-view>
</div>