<img class="bg" src="modules/core/img/bg1.jpg">
<div class="mainWrapper">
	<a class="timheneroty" ui-sref="home"><h1>MR. TIM M. HENEROTY</h1></a>

<!-- LINKS (Internal) -->
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><a class="internalLink" ui-sref=".finance"><i>Professional Finance</i></a></div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><a class="internalLink" ui-sref=".web"><i>Freelance Developer</i></a></div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><a class="internalLink" ui-sref=".athletics"><i>Athletics</i></a></div>
	</div>

	<div class="row mainContent">

		<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 articleFeature" > 
			<ui-view>

	<!-- ARTICLE LISTING -->			
				<article class="col-lg-8 col-md-8 col-sm-8 col-xs-12 articleFeatureList" data-ng-controller="ArticlesController" data-ng-init="find()">
				    
				    <div class="page-header">
				        <h3>The Latest Rumblings</h3>
				        <h6>Software development | Hockey Coaching | Corporate Finance</h6>
				    </div>

				    <div class="list-group">
				        <a data-ng-repeat="article in articles | limitTo:articleLimit" data-ng-href="#!/articles/{{article._id}}" class="ArticleContainer">
				        <!-- list-group-item  -->
				            <h6 align="left">&Star;<b> {{article.title}}</b></h6>
				        </a>
				    </div>


				    <a href="#!/articles" class="viewAllArticlesButton">View All Articles</a>
			    </article>

	<!-- ASIDE(top-right) -->
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-11" >
			    	<aside style="margin: 40px; border: 1px solid black; padding: 10px;">
						<h6><i>Thank You For Visiting!</i><br> This site was developed using:</h6>
							<a href="http://www.meanjs.org" target="_blank"><img src="modules/core/img/brand/logo.png"></a>
							<!-- <a ui-sref="portfolio">View my Portfolio</a> -->
					</aside>	
				</div>


	<!-- VIEW SKILLS -->
				<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 skillLinks" style="border: 1px solid black; margin-top: 20px; padding: 10px;">
					<h6><i>View Skills</h6>
					<a ui-sref=".finance">Finance</a>
					<a ui-sref=".web">Web</a>
					<a ui-sref=".athletics">Athletics</a>
				</aside>

	<!-- LINKS -->
				<aside class="col-lg-12 col-md-12 col-sm-12 col-xs-12 skillLinks" style="border: 1px solid black; margin-top: 20px; padding: 10px;">
					<!-- <h6><i>Contact</h6> -->
					
					<a href="https://www.facebook.com/theneroty" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="https://www.linkedin.com/in/timheneroty" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href="mailto:th@creativemonsterconsulting.com"><i class="fa fa-envelope fa-2x"></i></a>
					<a href="tel:+14124478555"><i class="fa fa-phone fa-2x"></i></a>
					<a href="https://www.youtube.com/channel/UCd07uVM2XDcVHLcZGPfTusg" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a>
					<a href="https://twitter.com/timhene" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>

				</aside>

			</ui-view>
		</section>
	
	</div>
</div>

<footer data-ng-controller="HomeController" align="center">
	<ul data-ng-hide="authentication.user" style="list-style:none; margin-top: 240px;">

		<li ui-route="/signin" ng-class="{active: $uiRoute}">
			<a href="/#!/signin"><i class="fa fa-header fa-2x"></i></a>
		</li>
	</ul>
	<ul data-ng-show="authentication.user" style="list-style:none; margin-top: 240px;">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{authentication.user.displayName}} <b class="caret"></b>
                </a>
				<ul class="dropdown-menu">
					<li><a href="/#!/settings/profile">Edit Profile</a></li>
					<li><a href="/#!/settings/accounts">Manage Social Accounts</a></li>
					<li data-ng-show="authentication.user.provider === 'local'"><a href="/#!/settings/password">Change Password</a></li>
					<li class="divider"></li>
					<li><a href="/auth/signout">Signout</a></li>
				</ul>
			</li>
		</ul>
</footer>