<!-- goEdu [Finance] ////////////////////////////////////////////-->
                <div id="backgroundMainBox" ng-show="goEdu" style="margin-left: 5%; margin-top: 0px; padding-top: 3px;">
            		<h5>Education:</h5>
            		<span id="pList">
	                    <p>General Electric, Financial Management Program (FMP)</p><span id="dates">2009</span><br>
	                    <p>Northeastern University, Finance &amp; Investments; Accounting</p><span id="dates">2007</span>
                    </span>
                </div>