<h5>Playing Bio</h5>

<table>
	<th>
		<tr>
			<td>yr</td>
			<td>level</td>
			<td>team</td>
			<td>location</td>
			<td>league</td>
		</tr>
	</th>
</table>

<!-- goPlayingExp [Hockey Coaching] //////////////////////////////////-->
	            <div id="backgroundMainBox" ng-show="goPlayingExp" style="margin-left: 5%; margin-top: 0px; padding-top: 3px;">
	           		<h5>Playing Experience:</h5>
	           		<table>
	           			<tr id="header">
	           				<td><u>yr</u></td>
	           				<td><u>level</u></td>
	           				<td><u>team</u></td>
	           				<td><u>league</u></td>
	           			</tr>
	           			<tr id="Orlando">
	           				<td></td>
	           				<td>pro</td>
	           				<td></td>
	           				<td>ECHL</td>
	           			</tr>
	           			<tr id="Portland">
	           				<td></td>
	           				<td>pro</td>
	           				<td></td>
	           				<td>AHL</td>
	           			</tr>
	           			<tr id="NU">
	           				<td></td>
	           				<td>ncaa division 1</td>
	           				<td></td>
	           				<td>Hockey East</td>
	           			</tr>
	           			<tr id="Forge">
	           				<td></td>
	           				<td>jr.A</td>
	           				<td></td>
	           				<td>NAHL</td>
	           			</tr>
	           			<tr id="Sting">
	           				<td></td>
	           				<td>jr.A</td>
	           				<td></td>
	           				<td>NAHL</td>
	           			</tr>
	           			<tr id="Pride">
	           				<td></td>
	           				<td>jr.A</td>
	           				<td></td>
	           				<td>NAHL</td>
	           			</tr>
	           			<tr id="Bearcats">
	           				<td></td>
	           				<td>jr.A</td>
	           				<td></td>
	           				<td>NAHL</td>
	           			</tr>
	           			<tr id="Hornets">
	           				<td></td>
	           				<td>AAA</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="amPens">
	           				<td></td>
	           				<td>AAA</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="tigers">
	           				<td></td>
	           				<td>A</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="FC">
	           				<td></td>
	           				<td>Inter-scholastic</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           		</table>
	           	</div>