<div id="backgroundMainBox">
	<h5>Roles:</h5>
	<span id="pList">
		<p>Supply Chain Finance</p> &diams;
		<p>P&amp;L Management</p> &diams;
		<p>Forecasting, Planning &amp; Analysis</p> &diams;
		<p>GL Accounting</p> &diams;
		<p>Inventory / Cost Accounting</p> &diams;
		<p>Statistical Modeling</p> &diams;
		<p>Predicitive Analytics</p> &diams;
		<p>Business Consulting</p> &diams;
		<p>Controllership</p> &diams;
		<p>Capital Budgeting</p> &diams;
		<p>Operations Analysis</p> &diams;
	</span>
</div>

<!-- goRoles [Finance] ////////////////////////////////////////////////////////////////////////////////-->
            	<!-- <div id="backgroundMainBox" ng-show="goRoles" style="margin-left: 5%; margin-top: 0px; padding-top: 3px;">
            		<h5>Roles:</h5>
            		<span id="pList">
            		                    <p>Supply Chain Finance</p> &diams;
            		                    <p>P&amp;L Management</p> &diams;
            		                    <p>Forecasting, Planning &amp; Analysis</p> &diams;
            		                    <p>GL Accounting</p> &diams;
            		                    <p>Inventory / Cost Accounting</p> &diams;
            		                    <p>Statistical Modeling</p> &diams;
            		                    <p>Predicitive Analytics</p> &diams;
            		                    <p>Business Consulting</p> &diams;
            		                    <p>Controllership</p> &diams;
            		                    <p>Capital Budgeting</p> &diams;
            		                    <p>Operations Analysis</p> &diams;
            	                    </span>
            	                </div> -->