<!-- 

<div ng-controller="HomeController">
	  <form novalidate class="css-form">
	    Name: <input type="text" ng-model="user.name" required /><br />
	    E-mail: <input type="email" ng-model="user.email" required /><br />
	    Gender: <input type="radio" ng-model="user.gender" value="male" />male
	    <input type="radio" ng-model="user.gender" value="female" />female<br />
	    
	    <button ng-click="reset()">RESET</button>
	    <button ng-click="update(user)">SAVE</button>
	  </form>
</div> -->