<img class="bg" src="modules/core/img/bg1.jpg">
 <div itemscope itemtype="http://schema.org/Person">
 <div class="row">
    <div id="topBanner" class="col-lg-12 col-md-11 col-sm-11 col-xs-11">
    
        <h3 style="vertical-align: middle;" class="topBannerHomeLink" onclick="location.href='http://www.timheneroty.com' " itemprop="name">Tim M. Heneroty: 
            <small id="smallTextInBanner"> Senior Financial Analyst <strong>|</strong> Web Developer  with NodeJS, AngularJS, Express, &amp; MongoDB <strong>|</strong> Hockey Coach
            </small>
        </h3>
        <table>
            <thead align="center" style="verticle-align: middle;">
                <tr>
                    <td>
                        <a ui-sref="home" title="home"><i class="fa fa-home fa-2x"></i></a>
                    </td>
                    <td>
                        <a itemprop="email" href="mailto:heneroty.t@gmail.com" title="email"><i class="fa fa-envelope fa-2x"></i></a>
                    </td>
                    <td>
                        <a itemprop="telephone" href="tel:+14124003947" title="412-400-3947"><i class="fa fa-mobile-phone fa-3x"></i></a>
                    </td>
                    <td>
                        <a ui-sref=".map" title="my location [map]"><i class="fa fa-map-marker fa-2x"></i></a>
                    </td>
<!--                     <td>
    <a ui-sref="api"><i class="fa fa-flash fa-2x"></i></a>
</td> -->
                </tr>
            </thead>
 <!--            <tbody align="center">
     <tr>
         <td><i>email</i></td>
         <td><i>telephone</i></td>
         <td><i>location</i></td>
     </tr>
 </tbody> -->
        </table>
  <!--       <address>
      <a href="mailto:heneroty.t@gmail.com">
              <i style="vertical-align: middle;" class="fa fa-envelope fa-2x"></i></a><br>email:
      phone:<a href="tel:+14124003947">
              <i style="vertical-align: middle;" class="fa fa-mobile-phone fa-3x"></i></a>
      location:<a href="" title="Pittsburgh, PA"><i></i></a> 
  
  </address> -->
    </div>
 </div>

 <div class="row" style="margin-left: 5%; margin-right: 5%;">


<h3 id="backgroundMainBox" class="col-md-11 col-sm-11 col-xs-11 visible-sm visible-xs visible-md">Stay Tuned for more.  Thanks for visiting!</h3>


    <!-- <div id="backgroundMainBox" class="col-lg-8 col-md-10 col-sm-10 col-xs-10"> -->
        <ui-view>
        	<!-- Finance -->
            <div class="col-lg-8 col-md-11 col-sm-11 col-xs-11" id="backgroundMainBox">
                <div class="row">
                    <div align="center" style="vertical-align: middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <i class="fa fa-bar-chart-o fa-4x"></i>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                    	<h3 itemprop="jobtitle">Senior Financial Analyst</h3>
                    	<p>7+ years of corporate finance experience with Fortune 500 companies in various financial analysis, accounting, and strategy consulting roles.</p>
                    	<!-- <a ui-sref=".finance">more...</a> -->
                    </div>
                </div>
            </div>

            <h3 id="backgroundMainBox" class="col-lg-3 visible-lg">Stay Tuned for more.  Thanks for visiting!</h3>


            <!-- Web Development //////////////////////////////////////////////////////////////////////////////////////-->
            <div class="col-lg-8 col-md-11 col-sm-11 col-xs-11" id="backgroundMainBox">
                <div class="row">
                    <div align="center" style="vertical-align: middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <i class="fa fa-desktop fa-4x" ></i>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                    	<h3 itemprop="jobtitle">Web Developer</h3>
                    	<p>Enthusiast developer specializing in the development of RESTful applications using node.js, angular.js, mongoDb, and Express, while utilizing web services such as Flickr, Google Drive, Calendar, Maps, Twitter, Facebook, Twilio, + more.</p>
                    	<!-- <a ui-sref=".web">more...</a> -->
                    </div>
                    </div>
            </div>
			<!-- Hockey Coaching ////////////////////////////////////////////////////////////////////////////////-->
            <div class="col-lg-8 col-md-11 col-sm-11 col-xs-11" id="backgroundMainBox">
                <div class="row">
                    <div align="center" style="vertical-align: middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <i class="fa fa-pause fa-4x"></i>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                    	<h3 itemprop="jobtitle">Hockey Coach</h3>
                    	<p>15+ years as a hockey coach specializing in goalie instruction.<br>
                        Curently accepting new goalies for :30 or :60 minute lessons @<br>
                        Ice Castle between 3:30 pm - 5:00 pm.  <a href="tel:+14124003947">Call</a> for more details. </p>

                    	<!-- <a ui-sref=".hockey">more...</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-11 col-sm-11 col-xs-11" id="backgroundMainBox">
                <!-- <div class="fb-like" data-href="http://www.timheneroty.com" data-layout="button" data-action="recommend" data-show-faces="true" data-share="true"></div> -->
                <div class="fb-like" data-href="http://www.timheneroty.com" data-layout="button" data-action="recommend" data-show-faces="false" data-share="true"></div>
                
            </div>
        </ui-view>    
</div>   <!-- end of row --> 
</div> <!-- end of itemscope schema -->