<!-- <img class="bg" src="modules/core/img/bg1.jpg"> -->
<!--  <div itemscope itemtype="http://schema.org/Person"> -->
<!--  <div class="row">
   <div id="topBanner" class="col-lg-12 col-md-11 col-sm-11 col-xs-11">
   
       <h3 align="center" class="topBannerHomeLink" onclick="location.href='http://www.timheneroty.com' " itemprop="name">Timothy M. Heneroty</h3>
       <div align="center">
           <a ui-sref=".finance"><small>Sr. Finance Analyst</small></a> &diams;
           <small id="smallTextInBanner"> Web Developer</small> &diams;
           <small id="smallTextInBanner"> Hockey Instructor</small>
       </div>
       <table align="center">
           <thead align="center" style="verticle-align: middle;">
               <tr>
                   <td><a ui-sref="home" title="home"><i class="fa fa-home fa-2x"></i></a></td>
                   <td><a itemprop="email" href="mailto:heneroty.t@gmail.com" title="email"><i class="fa fa-envelope fa-2x"></i></a></td>
                   <td><a itemprop="telephone" href="tel:+14124003947" title="412-400-3947"><i class="fa fa-mobile-phone fa-3x"></i></a></td>
                   <td><a ui-sref=".map" title="my location [map]"><i class="fa fa-map-marker fa-2x"></i></a></td>
               </tr>
           </thead>
       </table>
   </div>
</div> -->

 <div class="row bigbackplate" style="margin-left: 5%; margin-right: 5%;">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 selectionMain" id="backgroundMainBox">
                <div class="row">
                    <div align="center" style="vertical-align: middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <img src="modules/core/img/ge.jpg">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="textDesc">
                    	<h3 itemprop="jobtitle" style="vertical-align: middle;">Financial Analyst, Financial Management Program (FMP)</h3></div>
                </div>
            </div>
</div>   <!-- end of row --> 
<!-- </div> --> <!-- end of itemscope schema -->