<h5>Web</h5>

<ui-view>



<!-- goSkills [Web Development] //////////////////////////////////-->
	            <div id="backgroundMainBox" ng-show="goSkills" style="margin-left: 5%; margin-top: 0px; padding-top: 3px;">
	           		<h5>Skills:</h5>
	           		<span id="pList">
		                <p>HTML5</p>
		                <p>CSS3</p>
		                <p>NODE.JS</p>
		                <!-- <h6>client-side:</h6> -->
		                <p>ANGULAR.JS</p>
		                <p>MONGODB</p>
		                <p>EXPRESS</p>
		                <!-- <h6>Middlewares:</h6> 
		                <p>PASSPORT.JS</p>-->
		                <!-- <h6>API's:</h6> 
		                <p>Google Drive</p>-->
	                </span>
	            </div>





</ui-view>
<br>
<a ui-sref="home"><i class="fa fa-home"></i></a> &diams;
<a ui-sref=".projects">Projects</a>
