<h5>Projects</h5>


<!-- goProjects [Web Development] ////////////////////////////////-->
	            <div id="backgroundMainBox" ng-show="goProjects" style="margin-left: 5%; margin-top: 0px; padding-top: 3px;">
	           		<h5>Projects:</h5>
	           		<span id="pList">
		                <p><a href="http://www.albertslounge.com" target="_blank">Albertlounge.com</a>*</p><br>
						 <!-- <table>
						 					        <tr>
						 					            <td>link</td>
						 					            <td>desc</td>
						 					            <td>front-end</td>
						 					            <td>back-end</td>
						 					            <td>API's</td>
						 					            <td>middleware</td>
						 					        </tr>
						 					        <tr>
						 					            <td><p><a href="http://www.albertslounge.com" target="_blank">Albertlounge.com</a>*</p></td>
						 					            <td>bar in Dormont, PA</td>
						 					            <td>angular.JS</td>
						 					            <td>node.js, express, mongodb</td>
						 					            <td>facebook, twitter</td>
						 					            <td>passport.js</td>
						 					        </tr>
						 				        </table> -->
		                <p><a href="http://www.gasshockey.com" target="_blank">gasshockey.com</a>*</p><br>
		                <p><a href="http://www.creativemonsterconsulting.com" target="_blank">creativemonsterconsulting.com</a>*</p><br>
		                <p>* Still Under Active Development</p>
	                </span>
	            </div>