<img class="bg" src="modules/core/img/bg1.jpg">
 <div itemscope itemtype="http://schema.org/Person">
 <header class="row">

    <!-- TIMOTHY M HENEROTY -->
    <div id="topBanner" class="col-lg-12 col-md-11 col-sm-11 col-xs-11">
        <h3 align="center" class="topBannerHomeLink" onclick="location.href='http://www.timheneroty.com' " itemprop="name">Timothy M. Heneroty</h3>
        <div align="center">
            <ul class="navList">
                <li>Senior Finance Analyst</li> &diams;
                <li>Web Developer</li>  &diams;
                <li>Hockey Instructor</li>
            </ul>
        </div>

        <!-- HEADER NAVIGATION ICONS -->
        <table align="center">
            <thead align="center" style="verticle-align: middle;">
                <tr>
                    <td><a ui-sref="home" title="home"><i class="fa fa-home fa-2x"></i></a></td>
                    <td><a itemprop="email" href="mailto:heneroty.t@gmail.com" title="email"><i class="fa fa-envelope fa-2x"></i></a></td>
                    <td><a itemprop="telephone" href="tel:+14124003947" title="412-400-3947"><i class="fa fa-mobile-phone fa-3x"></i></a></td>
                    <td><a ui-sref=".map" title="my location [map]"><i class="fa fa-map-marker fa-2x"></i></a></td>
                    <!-- <td><div class="fb-like" data-href="http://www.timheneroty.com" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div></td> -->
                </tr>
            </thead>
        </table>
    </div>
 </header>

 <div class="row bigbackplate" style="margin-left: 5%; margin-right: 5%;">
        <ui-view>
        	<!-- FINANCIAL-ANALYSIS + MANAGEMENT-CONSULTING -->
            <section class="col-lg-8 col-md-11 col-sm-11 col-xs-11 selectionMain" id="backgroundMainBox">
                <div class="row">
                    <div align="center" style="vertical-align: middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <img class="logo" src="modules/core/img/corp.jpg">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9" id="textDesc">
                    	<h3 itemprop="jobtitle">Financial Analysis, Management Consulting</h3>
                    	<p>7+ years corporate finance experience with Fortune 500 companies</p>
                        <h6>Skills/Roles</h6>
                        <p>
                            &diams; financial analysis 
                            &diams; modeling &diams; forecasting 
                            &diams; budgeting 
                            &diams; P&amp;L oversight 
                            &diams; GAAP/IFRS accounting 
                            &diams; public reporting 
                            &diams; strategic planning 
                            &diams; capex / opex
                        </p>
                        <h6>Industries/Sectors:</h6>
                        <p>
                            &diams; retail / merchandising / consumer goods<br>
                            &diams; distribution / supply chain / logistics / production services<br>
                            &diams; for-profit post-seconday education <br>
                            &diams; insurance / structured settlements
                        </p>
                    </div>
                </div>
            </section>

            <!-- TWITTER-WIDGET -->
            <div id="backgroundMainBox" class="col-lg-3 visible-lg pull-right selectionMain">
                <a class="twitter-timeline" href="https://twitter.com/timhene" data-widget-id="481988987859390465">Tweets by @timhene</a>
            </div>
    

            <!-- WEB-DEVELOPMENT + DIGITAL-ADVERTISING -->
            <section class="col-lg-8 col-md-11 col-sm-11 col-xs-11 selectionMain" id="backgroundMainBox">
                <div class="row" >
                    <div align="center" style="vertical-align: middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <img class="logo" src="modules/core/img/cmc.jpg">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9" id="textDesc">
                    	<h3 itemprop="jobtitle">Web Development + Digital Advertising</h3>
                    	<p>
                            Websites &diams; Applications &diams; Advertising &diams; Social Media &diams; SEO <br> 
                            HTML5 | CSS3 | Node.JS | Angular.JS | MongoDb | Express
                        </p>
                    </div>
                    </div>
            </section>

            <!-- For-SALE -->
            <div id="backgroundMainBox" class="col-lg-3 visible-lg pull-right selectionMain">
                <div id="image">
                    <img align="center" src="modules/core/img/forsale1.png" alt="New and Used items of many varieties"/>
                    <h3>Marketplace<br> ...coming soon</h3>
                </div>
            </div>

			<!-- HOCKEY-INSTRUCTION -->
            <section class="col-lg-8 col-md-11 col-sm-11 col-xs-11 selectionMain" id="backgroundMainBox">
                <div class="row">
                    <div align="center" style="vertical-align: middle" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                        <img class="logo" src="modules/core/img/hockey.jpg">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9" id="textDesc">
                    	<h3 itemprop="jobtitle">Hockey Instruction</h3>
                    	<p> 
                            15+ years coaching &diams; 25 years playing experience<br>
                            Lessons Available! <i class="fa fa-caret-right"></i> Goalies (All ages) daily @ Ice Castle, Castle Shannon</p>
                    </div>
                </div>
            </section>

            <!-- FB-LIKE_or_SHARE-WIDGET -->
            <!-- <aside id="backgroundMainBox" class="col-lg-3 visible-lg pull-right selectionMain">
                <div class="fb-like" data-href="http://www.timheneroty.com" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
            </aside> -->

            <!-- Goalie Lessons -->
            <aside id="backgroundMainBox" class="col-lg-3 visible-lg pull-right selectionMain">
                <div id="image">
                    <img align="center" src="modules/core/img/lessons1.png" alt="New and Used items of many varieties"/>
                    <h3>Goalie Lessons</h3>
                </div>
            </aside>

            <!-- OTHER -->
            <!-- <aside id="backgroundMainBox" class="col-xs-11 visible-xs col-sm-11 visible-sm col-md-11 visible-md selectionMain">
            <h3>Other:</h3>
                <ul class="selectionList">
                    <li><a href=""><i class="fa fa-dollar"></i> SALE PAGE <i class="fa fa-cny"></i></a></li>
                    <li><a href="http://www.creativemonsterconsulting">My business</a></li>
            
                </ul>
            </aside> -->


        </ui-view>

</div>   <!-- end of row --> 
</div> <!-- end of itemscope schema -->