<!-- home.client.view.html -->
<img class="bg" src="modules/core/img/bg1.jpg">
 <div class="row">
    <div id="topBanner" class="col-lg-8 col-md-11 col-sm-11 col-xs-11">
        <h3 class="topBannerHomeLink" onclick="location.href='http://www.timheneroty.com' ">Tim M. Heneroty: <small id="smallTextInBanner"> Senior Financial Analyst | Web Developer with NodeJS, AngularJS, Express, &amp; MongoDB | Hockey Coach</small></h3>
        <address><i>contact</i>: <a href="mailto:heneroty.t@gmail.com">TH@gmail</a>  &diams; <i>current location</i>    : Pittsburgh, PA 15215  &diams; USA &diams; <a href=""><i class="fa fa-mobile-phone fa-2x"></i></a>
        </address>
    </div>
 </div>

<div class="row">

    <!-- <div id="backgroundMainBox" class="col-lg-8 col-md-10 col-sm-10 col-xs-10"> -->
        <ui-view>
            <div class="col-lg-8 col-md-11 col-sm-11 col-xs-11" id="topBanner">
            <h5>Welcome!</h5><!-- <p>Thanks for visiting.  I am always looking to take on new projects and venture into new areas of life. I decided to put this site together as reference point.</p><h5>About Me:</h5> --><p>Every now &amp; then I use this site as a testing-ground for implementing new web technologies which I discover around the web.  It's also somewhat of a business card or reference point of my contact info and glimpse into my skillset.<br>
            <!--   an ambitious, creative-minded guy with a focus on success.  I like to help other poeple, and use technology in making life easier.  Outside of  --></p>
                <div ng-controller="MainCtrl" class="row" id="backgroundMainBox"> <!-- id="choicesRow"  id="backgroundMainBox"-->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="indsideCh" align="center">
                            <h3>Finance</h3>
                            <p>7+ years experience with Fortune 500 companies.<br><br>
                            <!-- <u>Various roles include:</u> 
                             <ul style="list-style: none; text-align: left; font-family: 'Megrim', 'cursive'; ">
                                 <li>supply chain finance</li>
                                 <li>P&amp;L management</li>
                                 <li>Forecasting, Planning &amp; Analysis</li>
                                 <li>GL Accounting</li>
                                 <li>Inventory / Cost Accounting</li>
                                 <li>Statistical Modeling + Predicitive Analytics</li>
                                 <li>Business Consulting</li>
                                 <li>Controllership</li>
                                 <li>Capital budgeting</li>
                                 <li>Operational analysis + management</li>
                             </ul> --> <!-- supply chain finance and P&amp;L management, to forecasting + planning, general ledger accounting, statistical modeling, business consulting, and more.  <br>Industries &amp; sectors include: Distribution--></p>
                            <!-- <button>finance details</button> -->
                
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="indsideCh" align="center">
                            <h3>Web Development</h3>
                            <p>Enthusiast web developer, designer, + digital advertiser.<br><br>
                            <!-- <u>Technologies and services include:</u>
                             <ul style="list-style: none; text-align: left; font-family: 'Megrim', 'cursive'; ">
                                 <li>NodeJS</li>
                                 <li>AngularJS</li>
                                 <li>Express server</li>
                                 <li>MongoDB</li>
                                 <li>HTML5 + CSS3</li>
                                 <li>Cloud-hosting
                                     <ul>
                                         <li>Heroku</li>
                                         <li>Google App Engine</li>
                                         <li>Amazon Web Services</li>
                                     </ul>
                                 </li>
                                 <li>Google
                                     <ul>
                                         <li>Analytics</li>
                                         <li>AdWords / AdSense</li>
                                         <li>Webmaster tools</li>
                                         <li>Places for Business</li>
                                     </ul>
                                 </li>
                                 <li>RESTful Web services
                                                     <ul>
                             <li>Facebook</li>
                             <li>Twitter</li>
                             <li>LinkedIn</li>
                             <li>Google Plus</li>
                                                     </ul>
                                 </li>
                             </ul> --> <!-- NodeJS, AngularJS, MongoDB, and Express.  Also online digital advertising, social media marketing, online branding, and more. --></p>
                            <!-- <button>tech details</button> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="indsideCh" align="center">
                            <h3>Hockey</h3>
                            <p>15+ years as a hockey coach. <br>Specialize in goalie instruction.<br><br>
                            <!-- <u>Teaching style includes:</u>
                                <ul style="list-style: none; text-align: left; font-family: 'Megrim', 'cursive'; ">
                                    <li>Squareness to the Puck</li>
                                    <li>Depth &amp; Quickness to Angles</li>
                                    <li>Explosive Movement While Down</li>
                                    <li>Strong Backside Recovery</li>
                                    <li>Advanced Post Protection techniques</li>
                                    <li>Visualization + preparation</li>
                                    <li>Video-based performance analysis</li>
                                    <li>Off-ice: speed, strength &amp; coordination training</li>
                                    <li>Natural, healthy, and organic nutrition</li>
                                    <li>Stretching, Yoga, &amp; Pilates</li>
                                    <li>Personal Development</li>
                                    <li>Goal Setting &amp; continual refinement</li>
                                </ul> -->
                            </p>
                            <!-- <button>hockey details</button> -->
                        </div>
                    </div>
                    <div class="col-lg-4 visible-lg col-md-4 visible-md">
                        <ul style="list-style: none; display: block;">
                            <li><a href="http://www.linkedin.com/in/timheneroty">View Me On LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 visible-lg col-md-4 visible-md">
                        <ul style="list-style: none; display: block;">
                            <li><a href="http://www.creativemonsterconsulting.com">Visit CMC,LLC. Website</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 visible-lg col-md-4 visible-md">
                        <ul style="list-style: none; display: block;">
                            <li><a href="mailto:timheneroty@gmail.com?subject=Hockey Lesson Request">Request a Lesson</a></li>
                        </ul>
                    </div>
                    <!-- <div ng-repeat="choice in choices" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="choicesContainer">
                        <div class="row">
                            <div class="col-lg-12" align="center">
                                <h3>{{choice.name}}&nbsp;&nbsp;
                                    <a href="{{choice.url1}}" title="{{choice.url1Title}}" target="_blank"></a>
                                </h3 style="text-align: center;">
                            </div>
                            <div class="col-lg-12" id="iconLink">
                                <a class="btn btn-default" ui-sref="{{choice.url1}}"><img src="{{choice.url1Icon}}"><br>{{choice.url1Title}}</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-8 col-md-11 col-sm-11 col-xs-11" id="topBanner">
                <div class="row" id="backgroundMainBox">    
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="indsideCh" align="center">
                            <h3>Finance</h3>
                        </div>
                    </div>
                </div>
            </div>
        </ui-view>

    <!-- </div> --><!-- end of #backgroundMainBox -->

    <div id="topBanner" class="col-lg-2 col-md-5 col-sm-11 col-xs-11" ng-controller="NavCtrl"> <!-- id="backgroundAsideBox" -->
        <h5>Finance</h5>
        <u>Roles</u> 
                            <ul style="list-style: none; text-align: left; font-family: 'Megrim', 'cursive'; ">
                                <li>supply chain finance</li>
                                <li>P&amp;L management</li>
                                <li>Forecasting, Planning &amp; Analysis</li>
                                <li>GL Accounting</li>
                                <li>Inventory / Cost Accounting</li>
                                <li>Statistical Modeling + Predicitive Analytics</li>
                                <li>Business Consulting</li>
                                <li>Controllership</li>
                                <li>Capital budgeting</li>
                                <li>Operational analysis + management</li>
                            </ul>
        <!-- <ul id="listNav" ng-repeat="link in links">
            <li><a ui-sref="{{link.url}}" title="{{link.title}}"><img src="{{link.ico}}">&nbsp;&nbsp;&nbsp;<i class="{{link.faIcon}}"></i>{{link.text}}</a></li>
        </ul> -->
    </div>
    <div id="topBanner" class="col-lg-2 col-md-5 col-sm-11 col-xs-11" ng-controller=""> <!-- id="backgroundAsideBox" -->
        <h5>Hockey</h5>
        <u>Teaching style includes:</u>
                                <ul style="list-style: none; text-align: left; font-family: 'Megrim', 'cursive'; ">
                                    <li>Squareness to the Puck</li>
                                    <li>Depth &amp; Quickness to Angles</li>
                                    <li>Explosive Movement While Down</li>
                                    <li>Strong Backside Recovery</li>
                                    <li>Advanced Post Protection techniques</li>
                                    <li>Visualization + preparation</li>
                                    <li>Video-based performance analysis</li>
                                    <li>Off-ice: speed, strength &amp; coordination training</li>
                                    <li>Natural, healthy, and organic nutrition</li>
                                    <li>Stretching, Yoga, &amp; Pilates</li>
                                    <li>Personal Development</li>
                                    <li>Goal Setting &amp; continual refinement</li>
                                </ul>
        <!-- <ul id="listNav" ng-repeat="link in links">
            <li><a href=""><img src=""><i class="fa fa-home"></i></a></li>
        </ul> -->
    </div>
    <div id="topBanner" class="col-lg-2 col-md-5 col-sm-11 col-xs-11" ng-controller=""> <!-- id="backgroundAsideBox" -->
        <h5>Tech + Web Development</h5>
        <u>Technologies and services include:</u>
                            <ul style="list-style: none; text-align: left; font-family: 'Megrim', 'cursive'; ">
                                <li>NodeJS</li>
                                <li>AngularJS</li>
                                <li>Express server</li>
                                <li>MongoDB</li>
                                <li>HTML5 + CSS3</li>
                                <li>Cloud-hosting
                                    <ul>
                                        <li>Heroku</li>
                                        <li>Google App Engine</li>
                                        <li>Amazon Web Services</li>
                                    </ul>
                                </li>
                                <li>Google
                                    <ul>
                                        <li>Analytics</li>
                                        <li>AdWords / AdSense</li>
                                        <li>Webmaster tools</li>
                                        <li>Places for Business</li>
                                    </ul>
                                </li>
                                <li>RESTful Web services</li>
                            </ul>
        <!-- <ul id="listNav" ng-repeat="">            <li><a href=""><img src=""><i class=""></i></a></li>
        </ul> -->
    </div>
    <div id="topBanner" class="col-lg-2 col-md-5 col-sm-11 col-xs-11" ng-controller=""> <!-- id="backgroundAsideBox" -->
        <h5></h5>
        <ul id="listNav" ng-repeat="tweet in tweets">
            <li><a href=""><img src=""><i class=""></i></a></li>
        </ul>
    </div>  
 </div>
