<h5>Coaching</h5>
<!-- goPlayingExp [Hockey Coaching] //////////////////////////////////-->
	            <div id="backgroundMainBox" ng-show="goCoachingExp" style="margin-left: 5%; margin-top: 0px; padding-top: 3px;">
	           		
	        
<h5>Coaching Experience:</h5>
	           		<table>
	           			<tr>
	           				<td>yr</td>
	           				<td>role</td>
	           				<td>company</td>
	           				<td>location</td>
	           			</tr>
	           			<tr id="ppe">
	           				<td></td>
	           				<td>associate coach + goalie instructor</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="gasshockey">
	           				<td></td>
	           				<td></td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="pensselect">
	           				<td></td>
	           				<td>associate coach + goalie instructor</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="paselects">
	           				<td></td>
	           				<td>associate coach + goalie instructor</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="individual">
	           				<td></td>
	           				<td></td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="shane">
	           				<td></td>
	           				<td>Senior Instructor</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           			<tr id="nextlevel">
	           				<td></td>
	           				<td>Senior Instructor</td>
	           				<td></td>
	           				<td></td>
	           			</tr>
	           		</table>

</div>