

<!-- 

From h.client.view.finance.html
use:  list of corporate finance experience.

replaced with:  angular controller, getCorporateStuff.


-->
<div class="row MainCompanyExperience">

			<!-- -->
			<p class="col-lg-3 workName">Creative Monster Consulting</p>
			<p class="col-lg-2 workDates">2011-Present</p>
			<p class="col-lg-6 workType"><!-- desc... --></p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
			
			<!-- -->
			<p class="col-lg-3 workName">Catholic Youth Association of Pittsburgh</p>
			<p class="col-lg-2 workDates">2012-Present</p>
			<p class="col-lg-6 workType"><!-- desc... --></p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
			
			<!-- -->
			<p class="col-lg-3 workName">East End Eatz Inc.</p>
			<p class="col-lg-2 workDates">2014-Present</p>
			<p class="col-lg-6 workType"><!-- desc... --></p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
			
			<!-- -->
			<p class="col-lg-3 workName">Albert's Lounge</p>
			<p class="col-lg-2 workDates">2014</p>
			<p class="col-lg-7 workType"><!-- desc... --></p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
			
			<!-- -->
			<p class="col-lg-3 workName">G.A.S.S. Hockey</p>
			<p class="col-lg-2 workDates">2013</p>
			<p class="col-lg-7 workType"><!-- desc... --></p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
			
			<!-- -->
			<p class="col-lg-3 workName">Upstairs Audio</p>
			<p class="col-lg-2 workDates">2013</p>
			<p class="col-lg-7 workType"><!-- desc... --></p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
		</div>



		<section>
		<h3>&sstarf;</h3>
		<h3>Corporate Finance</h3><br>
		<div class="row MainCompanyExperience">
			<!-- -->
			<p class="col-lg-3 workName">Dick's Sporting Goods</p>
			<p class="col-lg-2 workDates">2012-2013</p>
			<p class="col-lg-3 workType">Senior Financial Analyst</p>
			<p class="col-lg-4 workType">Forecasting, Planning, and Analysis</p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
			
			<!-- -->
			<p class="col-lg-3 workName">Education Management Corporation</p>
			<p class="col-lg-2 workDates">2010-2012</p>
			<p class="col-lg-3 workType">Senior Financial Analyst</p>
			<p class="col-lg-4 workType">Forecasting, Planning, and Analysis</p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
			
			<!-- -->
			<p class="col-lg-3 workName">General Electric / Gexpro</p>
			<p class="col-lg-2 workDates">2007-2010</p>
			<p class="col-lg-3 workType">Management Trainee</p>
			<p class="col-lg-4 workType">Financial Management Program</p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
			
			<!-- -->
			<p class="col-lg-3 workName">Aviva Insurance USA</p>
			<p class="col-lg-2 workDates">2006-2007</p>
			<p class="col-lg-3 workType">Finance Co-op / Intern</p>
			<p class="col-lg-4 workType">Structured Settlements</p>
			<p class="col-lg-12 workDescription"><!-- desc... --></p>
		</div>
	</section>

	/*$scope.employers = [
          {
          	name: 'Creative Monster Consulting LLC',
           location: 'Pittsburgh',
           dates:'June 2011 – Present',
           url: 'http://bit.ly/1jYjVM2',
           img: 'public/modules/core/img/GE.jpg',
           desc: 'Building of RESTful singe page applications using Node.js, Angular.js, Express, and MongoDB'
       },
          {
          	name: 'Dicks Sporting Goods Corporation',
           location: 'Pittsburgh',
           dates:'January 2012 – April 2013',
           url: 'http://bit.ly/1ioTPMF',
           img: '../img/GE.jpg',
           desc: 'Profit consulting for Lodge Merchandising unit, under the FP&A corporate function'
       },
          {
          	name: 'Education Management Corporation',
           location: 'Pittsburgh',
           dates:'June 2010 – December 2011',
           url: 'http://bit.ly/1mApy1C',
           img: '../img/GE.jpg',
           desc: 'Forecasting, modeling, analysis, earnings reporting, and planning at the corporate level'
       },
          {
          	name: 'Gexpro Corporation',
           location:'Shelton, CT',
           dates:'August 2009 – May 2010',
           url: 'http://bit.ly/1wgx72y',
           img: '../img/GE.jpg',
           desc: 'Supply chain finance, P&L statement analysis and management for corporate functions, accounting'
       },
          {
          	name: 'General Electric Corporation',
           location:'various - CT, TX, IL',
           dates:'July 2007 – July 2009',
           url: 'http://invent.ge/1kcraKm',
           img: 'http://localhost:3000/public/modules/core/img/GE.jpg',
           desc: '2-year post-grad program encompassing in-field training, classroom work, testing, and presentation grading'
       },
          {
          	name: 'Aviva Life Corporation',
           location:'Quincy, MA',
           dates:'June 2006 – January 2007',
           url: 'http://bit.ly/TRa5kz',
           img: '../img/bg1.jpg',
           desc: 'Finance co-op through Northeastern University. Helped finance division decipher structured finance products and contractual agreements'
       }
        ];*/

	// $scope.coreCompetencies = {''};
    // $scope.technicalCompetencies = {''};
    // $scope.independentConsulting = {''};
    // $scope.corporateFinance = {''};
    // $scope.education = {''};
    // $scope.ongoingEducation = {''};
    // $scope.extracurricular = {''};


            