<section data-ng-controller="ArticlesController">
    <div class="page-header">
        <h4>New Article Editor</h4>
    </div>

        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>


                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label" for="content">Content</label>
                    <!-- <div class="controls">
                        <div text-angular="" ng-model="content"></div>
                        <textarea text-angular data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content">                            
                        </textarea>
                    </div> -->
               

                <div text-angular="text-angular" name="content" ng-model="content" ta-disabled='disabled' 
                    ta-toolbar="[['bold','underline','italics','undo','redo', 'quote','p','pre','ul','ol', 'insertImage','insertLink','unlink']]">
                </div>
   </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>


                        <div data-ng-show="error" class="text-danger">
                            <strong>{{error}}</strong>
                        </div>


            </fieldset>
        </form>
    </div>
</section>