
.mainContent .articleSection {
	background-color: rgba(0,0,0, .7);
}

.articleSection {
	-moz-box-shadow: 0 3px 40px 1px #FFFFFF;
	-webkit-box-shadow: 0 3px 40px 1px #FFFFFF;
	box-shadow: 0 3px 40px 1px #FFFFFF;
}

.articleContent {
	 padding: 25px; 
}

/*  ARTICLE STYLING  */

.articleSection h1 {color:#A9B2C3;
}
.articleContent h2 {color: #A9B2C3;
}
.articleContent h3 {color: #E0ECAC;
}
.articleContent h4 {color: #A377A1;
}
.articleContent p {
	color: #7B89A3; 
	margin-top: 1px;
}
u {color: #A9B2C3;
}
.articleContent li {
	font-style: italic;
	font-size: 75%;
	color: #A9B2C3;
	margin-top: 20px; 
	margin-left: 20px;
}
.articleContent img { 

	max-width:100% !important;
    height:auto;
    display:block;

/*	clear: both;
	float: center;
	height: auto;
	width: auto;*/
	border: 2px inset wheat;
}
.articleContent a {color: red;
}

.articleFeatureList {
	margin: 12px;

	/*background-color: rgba(0,0,0,.9);*/
	padding: 20px;
	border: 4px outset #A9B2C3;
}

.articleFeatureList h6 {
	color: #7B89A3;
	margin-left: 6px;
}

