<section data-ng-controller="WorkoutsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Workouts</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="workout in workouts" data-ng-href="#!/workouts/{{workout._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="workout.created | date:'medium'"></span>
				by
				<span data-ng-bind="workout.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="workout.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!workouts.$resolved || workouts.length">
    	No Workouts yet, why don't you <a href="/#!/workouts/create">create one</a>?
    </div>
</section>